.pianoComponent {
  position: relative;
  width: px;
  height: 300px;
}

.whiteKey {
  width: 30px;
  height: 250px;
  background-color: white;
  border: solid 0.1px black;
  box-sizing: border-box;
}

.white {
  position: relative;
  display: flex;
}

.blackKey {
  width: 20px;
  height: 130px;
  background-color: black;
}

#doS {
  position: absolute;
  top: 0px;
  left: 20px;
}

#reS {
  position: absolute;
  top: 0px;
  left: 50px;
}

#faS {
  position: absolute;
  top: 0px;
  left: 110px;
}

#solS {
  position: absolute;
  top: 0px;
  left: 140px;
}

#laS {
  position: absolute;
  top: 0px;
  left: 170px;
}
